:root {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f6f8;
    display: flex;
    justify-content: center;
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.title {
    margin-top: 50px;
    font-size: 2.4rem;
    text-align: center;
    color: #042e62;
}

.header ul {
    margin: 20px 0 0;
    padding: 0;
    background-color: #122240;
}

.header ul li {
    width: 150px;
    height: 50px;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.header ul li:hover {
    background-color: #f1a931;
    color: #042e62;
}

.toggleSection.active {
    background-color: #f1a931;
    color: #042e62;
}

.header-search {
    display: flex;
    padding: 30px;
    background-color: #3e4b6c;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.header-search .city-search {
    margin-right: 30px;
    font-size: 2rem;
}

.header-search label {
    margin-right: 15px;
}

.header-search input {
    width: 184px;
    height: 26px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #adacac;
    color: #4c4b4b;
    font-size: 1.8rem;
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    height: 30px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-color: #e7e7e7;
}

.column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

section {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table caption h1 {
    font-size: 3rem;
}

table th {
    width: 155px;
    background: #042e62;
    color: #f1a931;
    font: bold 1.6em arial;
    height: 31px;
    border-right: 1px solid #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.25s ease;
}

table th:last-child {
    border-right: 1px solid #042e62;
}

table th label {
    cursor: pointer;
}

table th.active {
    color: #fff;
}

table tbody tr {
    background-color: #fff;
    font-size: 1.4em;
}

table tbody tr:nth-child(2n) {
    background-color: #ddd;
}

table tbody td {
    width: 150px;
    height: 28px;
    /* padding: 5px 3px 5px 6px; */
    vertical-align: middle;
    text-align: center;
    border: 1px solid #042e62;
}

span.divSortTable::after .asc {
    content: '&darr;';
    width: 5px;
}
